<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Location</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="sendLoc()">Send Location</ion-button>
      <ion-icon slot="icon-only" name="home" (click)="home()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height:100%">
    <!--
    <select id="mapType">
      <option value="ROADMAP">Road Map</option>
      <option value="SATELLITE">Satellite</option>
      <option value="HYBRID">Hybrid</option>
      <option value="TErRAIN">Terrain</option>
    </select>
    -->
  </div>
</ion-content>
