.align_name {
    position: relative;
    display: inline;
    right: 210px;
}
.align_prc {
    position: relative;
    display: inline;
    right: 210px;
}
.align_desc {
    position: relative;
    display: inline;
    right: 210px;
}