<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>No H20</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button (click)  = "toBevList()">Beverage List</ion-button> 
      </ion-item>
      <!--
      <ion-item>
        <ion-button (click) = "toSearch()">Beverage Search</ion-button> 
      </ion-item>
    -->
      <ion-item>
        <ion-button (click)  = "toBevCart()">Beverage Cart</ion-button> 
      </ion-item>
      <!--
      <ion-item>
        <ion-button (click)  = "toUser()">User Details</ion-button> 
      </ion-item>
    -->
      <ion-item>
        <ion-button (click)  = "toLocation()">Location</ion-button> 
      </ion-item>
      
      <ion-item>
        <ion-button (click)  = "toSettings()">Settings</ion-button> 
      </ion-item>
   
      <ion-item>
        <ion-button (click) = "logOut()">Log Out</ion-button> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      H20 Not Needed
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="login()">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
      <!-- THIS WORKS FOR FIRST THEME SERVICE PART BY JUST USING 1 BUTTON-->
      <!-- <ion-button (click)="enableDark()">
        <ion-icon slot="icon-only" name="brush"></ion-icon>
      </ion-button>
      <ion-button (click)="enableLight()">
        <ion-icon slot="icon-only" name="brush"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
 

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/drinks.jpg"/>
  </ion-card>
</ion-content>

<!-- TO TEST DARK/LIGHT MODE -->
<!-- <ion-footer no-shadow>
  <ion-button  expand="block" (click)="enableDark()">Enable Dark</ion-button>
  <ion-button  expand="block" (click)="enableLight()">Enable Light</ion-button>
</ion-footer> -->
