<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>No H20</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button (click)="toBevList()">List</ion-button> 
      </ion-item>
      <ion-item>
        <ion-button (click)="toSearch()">Search</ion-button> 
      </ion-item>
      <ion-item>
        <ion-button (click)="toBevCart()">Cart</ion-button> 
      </ion-item>
      <ion-item>
        <ion-button (click)="toUser()">User Details</ion-button> 
      </ion-item>
      <ion-item>
        <ion-button (click)="toLocation()">Location</ion-button> 
      </ion-item>
      <ion-item>
        <ion-button (click)="toSettings()">Settings</ion-button> 
      </ion-item>
      <ion-item>
        <ion-button (click)="logOut()">Log Out</ion-button> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      H20 Not Needed
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="login()">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card class="welcome-card">
    <img src="/assets/drinks.jpg"/>
  </ion-card>
  
      <ion-label >Welcome, {{current_username}}!</ion-label>

  <ion-card>
    <ion-card-header> Alcohol Levels </ion-card-header>
    <ion-card-content>
      <canvas baseChart
      [data] = "chartData"
      [labels] = "chartLabels"
      [chartType] = "chartType"
      [options] = "chartOptions"></canvas>
    </ion-card-content>
  </ion-card>

<ion-item>
  <ion-label color="dark">Current BAC:  </ion-label>
</ion-item>

<ion-item>
  <ion-label color="dark">You have consumed:</ion-label>
</ion-item>
<ion-item>
  <ion-label color="dark">You have been drinking for: </ion-label>
</ion-item>

</ion-content>

